<launch>
    <node name="top_view_shot_node" pkg="abot_vlm" type="calculate.py" output="screen">
    </node>
		<node name="identify_node" pkg="abot_vlm" type="identify_service1.py" output="screen"></node>
    <node name="llm_server" pkg="abot_vlm" type="end_serve.py" output="screen"></node>
</launch>
