<launch>
  <param name="use_sim_time" value="false" />

  <arg name="666_name" default="666.yaml" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_slam)/maps/$(arg 666_name)"/>

  <include file="$(find robot_slam)/launch/include/move_base.launch.xml" />

  <include file="$(find robot_slam)/launch/include/amcl.launch.xml" />
  
</launch>
